{% extends 'sport/base.html' %}

{% block experts %}
	<div id="fh5co-trainer">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Фітнес експерти</h2>
					<p>Ми звинувачуємо найдостойніших у найжорстокіших речах життя, але вони забезпечують цілий політ бід. Він ненавидить частину свого болю.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box">
					<div class="trainer">
						<img class="img-responsive" src="/static/sport/images/trainer-1.jpg" alt="trainer">
						<div class="title">
							<h3>Василь Посвістак</h3>
							<span>Експерт з танців</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box">
					<div class="trainer">
						<img class="img-responsive" src="/static/sport/images/trainer-2.jpg" alt="trainer">
						<div class="title">
							<h3>Сергій Нагнибіда</h3>
							<span>Експерт з бодібілдингу</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box">
					<div class="trainer">
						<img class="img-responsive" src="/static/sport/images/trainer-3.jpg" alt="trainer">
						<div class="title">
							<h3>Марія Василевська</h3>
							<span>Експерт з йоги</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}